<!doctype html>
<header>
    {% block header %}Superflex{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>{% block title %}- Superflex{% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</header>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
        <img src="{{url_for('static', filename='SuperFlex.png')}}" width="30" height="30" alt="">
        <h5 class="my-0 mr-md-auto font-weight-normal" style="color:rgb(24, 195, 190);">Super</h5>
        <h5 class="my-0 mr-md-auto font-weight-normal" style="color:rgb(3, 174, 68);">Flex</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-4 text-dark" href="{{url_for('leagues.select_league')}}">Leagues</a>
        </nav>
        <a class="btn btn-outline-primary" href="{{url_for('leagues.index')}}">User Name</a>
    </div>

    <section class="content">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>