{% macro buttons_large(session_id, user_id, league_id, ktc_button='', fp_button='', dp_button='', fc_button='',
espn_button='', nfl_button='',fp_c_button='', tt_button='', fc_c_button='', fc_tt_button='') %}
<form method="post" class="form-inline">
    <div class="btn-group flex-wrap">
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Power Rankings
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" type="submit" name="get_league" value="{{session_id, user_id, league_id}}"
                    {{ktc_button}}>KeepTradeCut</button>
                <button class="dropdown-item" type="submit" name="get_league_fp"
                    value="{{session_id, user_id, league_id}}" {{fp_button}}>Fantasy Pros</button>
                <button class="dropdown-item" type="submit" name="get_league_dp"
                    value="{{session_id, user_id, league_id}}" {{dp_button}}>Dynasty Process</button>
                <button class="dropdown-item" type="submit" name="get_league_fc"
                    value="{{session_id, user_id, league_id}}" {{fc_button}}>FantasyCalc</button>

            </div>
        </div>
        <br>
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contender Rankings
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" type="submit" name="contender_rankings"
                    value="{{session_id, user_id, league_id}}" {{espn_button}}>ESPN Projections</button>
                <button class="dropdown-item" type="submit" name="nfl_contender_rankings"
                    value="{{session_id, user_id, league_id}}" {{nfl_button}}>NFL Projections</button>
                <button class="dropdown-item" type="submit" name="fp_contender_rankings"
                    value="{{session_id, user_id, league_id}}" {{fp_c_button}}>Fantasy Pros
                    Projections</button>
                <button class="dropdown-item" type="submit" name="fc_contender_rankings"
                    value="{{session_id, user_id, league_id}}" {{fc_c_button}}>FantasyCalc</button>
            </div>
        </div>
        <div class="dropdown">
            <form method="post" class="form-inline">
                <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trade Tracker
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" type="submit" name="trade_tracker"
                        value="{{session_id, user_id, league_id}}" {{tt_button}}>KTC Rankings</button>
                    <button class="dropdown-item" type="submit" name="trade_tracker_fc"
                        value="{{session_id, user_id, league_id}}" {{fc_tt_button}}>FantasyCalc</button>
                </div>
        </div>
    </div>
</form>
{% endmacro %}