html {
    font-family: sans-serif;
    padding: 1rem;
}

body {
    margin: 0 auto;
    /* background: white; */
}

table {
    border-collapse: separate;

}

.table-all {
    border: 1px solid black;
    font-size: 14px;
}

.progress-bar {
    background-color: rgb(39, 125, 161) !important;
}

.btn-outline-primary {
    outline-color: rgb(87, 117, 144) !important;
    color: rgb(87, 117, 144) !important;
    border-color: rgb(87, 117, 144) !important;
}

.btn-outline-primary:hover {
    color: rgba(87, 117, 144) !important;
    background-color: rgb(133, 134, 135, 0.45) !important;
}


.btn-primary {
    outline-color: rgb(87, 117, 144) !important;
    color: rgb(252, 252, 252) !important;
    border-color: rgb(87, 117, 144) !important;
    background-color: rgb(87, 117, 144) !important;
}

<<<<<<< HEAD
.btn-secondary {
    outline-color: rgb(67, 170, 139) !important;
    color: rgb(252, 252, 252) !important;
    border-color: rgb(67, 170, 139) !important;
    background-color: rgb(67, 170, 139) !important;
}

.badge.alert-secondary {
    outline-color: rgb(248, 150, 30) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(144, 190, 109) !important;
}

=======
>>>>>>> cec8531c28914080a168919167b064159b51c1db
.badge.bg-primary {
    outline-color: rgb(39, 125, 161) !important;
    color: rgb(252, 252, 252) !important;
    border-color: rgb(39, 125, 161) !important;
    background-color: rgb(39, 125, 161) !important;
}

.badge.bg-success {
    outline-color: rgb(144, 190, 109) !important;
    color: rgb(252, 252, 252) !important;
    border-color: rgb(144, 190, 109) !important;
    background-color: rgb(144, 190, 109) !important;
}

.badge.bg-warning {
    outline-color: rgb(67, 170, 139) !important;
    color: rgb(252, 252, 252) !important;
    border-color: rgb(67, 170, 139) !important;
    background-color: rgb(67, 170, 139) !important;
}

.badge.bg-danger {
    outline-color: rgb(249, 132, 74) !important;
    color: rgb(252, 252, 252) !important;
    border-color: rgb(249, 132, 74) !important;
    background-color: rgb(249, 132, 74) !important;
}

.badge.bg-info {
    outline-color: rgb(77, 144, 142) !important;
    color: rgb(252, 252, 252) !important;
    border-color: rgb(77, 144, 142) !important;
    background-color: rgb(77, 144, 142) !important;
}

.badge.bg-dark {
    outline-color: rgb(249, 199, 79) !important;
    color: rgb(252, loc 252, 252) !important;
    border-color: rgb(249, 199, 79) !important;
    background-color: rgb(249, 199, 79) !important;
}

.badge.bg-light {
    outline-color: rgb(39, 125, 161) !important;
    color: rgb(252, 252, 252) !important;
    border-color: rgb(39, 125, 161) !important;
    background-color: rgb(39, 125, 161) !important;
}

.badge.alert-secondary {
    outline-color: rgb(248, 150, 30) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(144, 190, 109, .75) !important;
}

.badge.alert-primary {
    outline-color: rgb(67, 170, 139) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(67, 170, 139, .75) !important;
}

.badge.alert-success {
    outline-color: rgb(39, 125, 161) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(39, 125, 161, .75) !important;
}

.badge.alert-danger {
    outline-color: rgb(249, 132, 74, .5) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(249, 132, 74, .75) !important;
}

.badge.alert-info {
    outline-color: rgb(243, 114, 44) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(243, 114, 44, .75) !important;
}

.badge.alert-warning {
    outline-color: rgb(77, 144, 142) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(77, 144, 142, .75) !important;
}

.badge.alert-light {
    outline-color: rgb(249, 199, 79) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(249, 199, 79, .75) !important;
}

.badge.alert-dark {
    outline-color: rgb(248, 150, 30) !important;
    color: rgb(252, 252, 252) !important;
    background-color: rgb(248, 150, 30, .75) !important;
}

.card-fr {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 1.5em .5em .5em;
    border-radius: 1em;
    box-shadow: 0 5px 7px rgba(39, 125, 161, 0.2);
    border: 2em;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(77, 144, 142);

}

.card-top-sl {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 1.5em .5em .5em;
    border-radius: 1em;
    box-shadow: 0 5px 7px rgba(39, 125, 161, 0.2);
    border: 2em;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(77, 144, 142);
    background-color: rgba(87, 117, 144, .25);
}

/* .card {
    background-color: rgba(87, 117, 144, .25) !important;
} */

th {
    height: 100%;
}

td {
    border-radius: .5em !important;
    background-color: rgb(39, 125, 161) !important;
    color: white !important;
    border: 2px solid white !important;
    background-clip: padding-box !important;
}

td.over-limit-1 {
    background-color: rgb(68, 184, 73, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-2 {
    background-color: rgb(88, 171, 72, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-3 {
    background-color: rgb(108, 158, 72, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-4 {
    background-color: rgba(98, 97, 96, 0.69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-5 {
    background-color: rgba(120, 108, 99, 0.69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-6 {
    background-color: rgb(202, 121, 86, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-7 {
    background-color: rgb(214, 107, 82, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-8 {
    background-color: rgb(226, 93, 77, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-9 {
    background-color: rgb(237, 79, 73, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-10 {
    background-color: rgb(249, 65, 68, .69) !important;
    text-align: center !important;
    color: white !important;
}


.content {
    padding: 0 1rem 1rem;
}

.content>header {
    /* border-bottom: 1px solid lightgray; */
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #caa6f6;
    border: 1px solid #377ba8;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.alignCenter {
    align-content: center;
    text-align: center;
}



.player-names {
    border: 1px solid gray;
    border-right: 1px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}


.row-bottom-margin {
    margin-bottom: -20px;
}


.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

/* .card-header {
  border: none;
  background-color: rgba(0, 0, 0, .8);
} */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/* .card-header {display:inline-block;}
.card-row {display:inline-block;} */


/* .card,
.card-header,
.card-body,
.card-footer {
  border-radius: 0px !important;
  border: 1px solid;
  border-bottom: 1px;
} */

/* .row {
    margin-bottom: 2px;
    margin-top: 2px;
} */

a.right {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.avatar-player {
    width: 38px;
    height: 32px;
    flex: 0 0 38px;
    /* float: left; */
    /* background: center center / cover rgb(239, 239, 239); */
    border-radius: 50%;
}

html {
    font-size: .69rem;
}

.list-group {
    display: inline-block;
}

/* ul {
  column-count: 2;
  column-rule: dotted 1px #333;
  list-style-type: none;
} */

a:link {
    text-decoration: none;
}

a {
    font-size: 14px;
}

h5>.badge {
    vertical-align: bottom;
}

.tooltip>.tooltip-inner {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    border: 1px solid rgb(98, 97, 97) !important;
    font-size: 12px !important;
    border-radius: .5em !important;
}

.tooltip.show {
    opacity: 1.0 !important;
}