html {
    font-family: sans-serif;
    padding: 1rem;
}

body {
    margin: 0 auto;
    /* background: white; */
}

.content {
    padding: 0 1rem 1rem;
}

.content>header {
    /* border-bottom: 1px solid lightgray; */
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

/* .flash {
    margin: 1em 0;
    padding: 1em;
    background: #caa6f6;
    border: 1px solid #377ba8;
} */

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.alignCenter {
    align-content: center;
    text-align: center;
}

table {
    border-collapse: separate;

}

td {
    border-radius: 5px;
    border: 1px solid rgb(11, 7, 7);
}

td.over-limit-1 {
    background-color: rgb(8, 29, 252, .75);
    text-align: center;
    color: white;
}

td.over-limit-2 {
    background-color: rgb(14, 33, 229, .75);
    text-align: center;
    color: white;
}

td.over-limit-3 {
    background-color: rgb(14, 33, 229, .75);
    text-align: center;
    color: white;
}

td.over-limit-4 {
    background-color: rgb(14, 33, 229, .75);
    text-align: center;
    color: white;
}

td.over-limit-5 {
    background-color: rgb(14, 33, 229, .75);
    text-align: center;
    color: white;
}

td.over-limit-6 {
    background-color: rgb(60, 64, 63, .75);
    text-align: center;
    color: white;
}

td.over-limit-7 {
    background-color: rgb(60, 64, 63, .75);
    text-align: center;
    color: white;
}

td.over-limit-8 {
    background-color: rgb(60, 64, 63, .75);
    text-align: center;
    color: white;
}

td.over-limit-9 {
    background-color: rgb(113, 73, 73, .75);
    text-align: center;
    color: white;
}

td.over-limit-10 {
    background-color: rgb(228, 9, 9, .75);
    text-align: center;
    color: white;
}

td.over-limit-11 {
    background-color: rgb(228, 9, 9, .75);
    text-align: center;
    color: white;
}

td.over-limit-12 {
    background-color: rgb(255, 0, 0, .75);
    text-align: center;
    color: white;
}

.player-names {
    border: 1px solid gray;
    border-right: 1px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

/* th.rotate {
    /* Something you can count on */
/* height: 140px;
white-space: nowrap;
background-color: white;
border-color: white;
border-bottom-color: gray;
} */

*/ th.rotate>div {
    transform:
        /* Magic Numbers */
        translate(2px, 55px)
        /* 45 is really 360 - 45 */
        rotate(270deg);
    width: 25px;
}





.RdYlBu .q0-3 {
    fill: rgb(252, 141, 89)
}

.RdYlBu .q1-3 {
    fill: rgb(255, 255, 191)
}

.RdYlBu .q2-3 {
    fill: rgb(145, 191, 219)
}

th,
td {
    border: 1px solid black;
    border-radius: 10px;
}



.row-bottom-margin {
    margin-bottom: -20px;
}

.card-fr {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 5px 7px rgba(23, 120, 184, 0.2);
    border: 2em;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(10, 158, 180);
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

/* .card-header {
  border: none;
  background-color: rgba(0, 0, 0, .8);
} */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/* .card-header {display:inline-block;}
.card-row {display:inline-block;} */


/* .card,
.card-header,
.card-body,
.card-footer {
  border-radius: 0px !important;
  border: 1px solid;
  border-bottom: 1px;
} */

/* .row {
    margin-bottom: 2px;
    margin-top: 2px;
} */

a.right {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.avatar-player {
    width: 38px;
    height: 32px;
    flex: 0 0 38px;
    /* float: left; */
    /* background: center center / cover rgb(239, 239, 239); */
    border-radius: 50%;
}

html {
    font-size: .75rem;
}

.list-group {
    display: inline-block;
}


/* ul {
  column-count: 2;
  column-rule: dotted 1px #333;
  list-style-type: none;
} */

a:link {
    text-decoration: none;
}

a {
    font-size: 14px;
}

h5>.badge {
    vertical-align: bottom;
}