* {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.container-fluid {
    padding: 10px;
    background-color: var(--background-color) !important;
    /* This will be the "padding color" */
}

.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --padding-color: #f0f0f0;
    --inverse-color: #555555;
    --button-outline-color: rgb(87, 117, 144);
    --link-color: #0d6efd;
}

.dark-theme {
    --background-color: #444444;
    --text-color: #ffffff;
    --padding-color: #555555;
    --inverse-color: #555555;
    --button-outline-color: #ffffff;
    --link-color: #bdbaba;
}

.theme-icon {
    display: none;
}

.light-icon {
    display: inline-block;
}

.light-theme .light-icon {
    display: none;
}

.light-theme .dark-icon {
    display: inline-block;
}

.dark-theme .light-icon {
    display: inline-block;
}

.dark-theme .dark-icon {
    display: none;
}



.fa-plus {
    color: #3CB371;
    background: transparent;
}

.fa-square-plus {
    color: #3CB371;
    background: transparent;
}

.fa-bars {
    color: var(--text-color) !important;
}

.fa-refresh {
    color: rgb(87, 117, 144) !important;
    color: var(--button-outline-color) !important;
}

.fa-chevron-down:before {
    background-color: transparent;
}

.fa-chevron-down {
    background-color: transparent;
}

html {
    background-color: var(--background-color) !important;

}

body {
    margin: 0 auto;


}

.navbar-dark .navbar-toggler-icon {
    color: var(--button-outline-color) !important;
    border-color: var(--button-outline-color) !important;
}

h5 {
    background-color: transparent;
}

h4 {
    background-color: transparent;
}



.navbar-light .navbar-nav .nav-link {
    color: var(--text-color) !important;
}

a:link {
    background-color: transparent;
}

table {
    border-collapse: separate;

}

.table-all {
    border: 1px solid black;
    font-size: 12px;
}

.progress-bar {
    border-radius: 2px;
}

.progress-bar.bg-dark {
    color: rgba(41, 41, 41, 0.7);
    border: 1px solid rgba(41, 41, 41, 0.20);
    background-color: rgba(143, 145, 146, 0.20) !important;
    border-right: rad;
}

.progress-bar.bg-primary {
    outline-color: rgb(39, 125, 161) !important;
    border-color: rgb(39, 125, 161) !important;
    background-color: rgb(39, 125, 161, .7) !important;
}

.progress-bar.bg-success {
    outline-color: rgb(144, 190, 109) !important;
    border-color: rgb(144, 190, 109) !important;
    background-color: rgb(144, 190, 109, .7) !important;
}

.progress-bar.bg-warning {
    outline-color: rgb(67, 170, 139) !important;
    border-color: rgb(67, 170, 139) !important;
    background-color: rgb(67, 170, 139, .7) !important;
}

.progress-bar.bg-danger {
    outline-color: rgb(249, 132, 74) !important;
    border-color: rgb(249, 132, 74) !important;
    background-color: rgb(249, 132, 74, .7) !important;
}



.progress.border.border-dark {
    border-color: rgba(189, 195, 199, 0.6) !important;
}

.btn-outline-primary {
    outline-color: rgb(87, 117, 144) !important;
    color: var(--button-outline-color) !important;
    border-color: var(--button-outline-color) !important;
}

.btn-outline-dark {
    color: var(--button-outline-color) !important;
    border-color: var(--button-outline-color) !important;
}

.btn-outline-secondary {
    outline-color: rgb(87, 117, 144) !important;
    color: var(--button-outline-color) !important;
    border-color: var(--button-outline-color) !important;
}

.btn-outline-primary:hover {
    outline-color: rgb(87, 117, 144) !important;
    background-color: white !important;
    color: gray !important;
}

.btn-outline-danger {
    outline-color: rgb(87, 117, 144) !important;
    border-color: rgb(87, 117, 144) !important;
    color: white !important;
    background-color: rgb(87, 117, 144) !important;
}

.btn-outline-danger:hover {
    outline-color: rgb(87, 117, 144) !important;
    background-color: white !important;
    color: gray !important;
}

.btn-outline-warning {
    outline-color: rgb(67, 170, 139) !important;
    border-color: rgb(67, 170, 139) !important;
    color: white !important;
    background-color: rgb(67, 170, 139) !important;
}

.btn-outline-warning:hover {
    outline-color: rgb(67, 170, 139) !important;
    background-color: white !important;
    color: gray !important;
}

.btn-outline-info {
    outline-color: rgba(143, 145, 146, 0.20) !important;
    border-color: var(--text-color) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--text-color);
}

.btn-outline-info:hover {
    outline-color: rgb(249, 199, 79) !important;
    background-color: white !important;
    color: gray !important;
    color: rgba(41, 41, 41, 0.7) !important;
}

.text-lg-right {
    background-color: transparent !important;
}

.btn {
    font-size: 14px !important;
}

.nav-link {
    font-size: 20px !important;
}



.btn-primary {
    outline-color: rgb(87, 117, 144) !important;
    border-color: rgb(87, 117, 144) !important;
    background-color: rgb(87, 117, 144) !important;
}

.btn-secondary {
    outline-color: rgb(67, 170, 139) !important;
    border-color: rgb(67, 170, 139) !important;
    background-color: rgb(67, 170, 139) !important;
}


.btn-info {
    outline-color: rgb(249, 199, 79) !important;
    color: white !important;
    border-color: rgb(249, 199, 79) !important;
    background-color: rgb(249, 199, 79) !important;

}

.badge.alert-secondary {
    outline-color: rgb(248, 150, 30) !important;

    background-color: rgb(144, 190, 109) !important;
}

.badge.bg-primary {
    outline-color: rgb(39, 125, 161) !important;
    border-color: rgb(39, 125, 161) !important;
    background-color: rgb(39, 125, 161, .75) !important;
}

.badge.bg-QB {
    outline-color: rgb(39, 125, 161) !important;

    border-color: rgb(39, 125, 161) !important;
    background-color: rgb(39, 125, 161, .75) !important;
}

.badge.bg-success {
    outline-color: rgb(144, 190, 109) !important;
    border-color: rgb(144, 190, 109) !important;
    background-color: rgb(144, 190, 109, .75) !important;
}

.badge.bg-RB {
    outline-color: rgb(144, 190, 109) !important;

    border-color: rgb(144, 190, 109) !important;
    background-color: rgb(144, 190, 109, .75) !important;
}

.badge.bg-warning {
    outline-color: rgb(67, 170, 139) !important;
    border-color: rgb(67, 170, 139) !important;
    background-color: rgb(67, 170, 139, .75) !important;
}

.badge.bg-WR {
    outline-color: rgb(67, 170, 139) !important;

    border-color: rgb(67, 170, 139) !important;
    background-color: rgb(67, 170, 139, .75) !important;
}

.badge.bg-danger {
    outline-color: rgb(249, 132, 74) !important;
    border-color: rgb(249, 132, 74) !important;
    background-color: rgb(249, 132, 74, .75) !important;
}

.badge.bg-TE {
    outline-color: rgb(249, 132, 74) !important;

    border-color: rgb(249, 132, 74) !important;
    background-color: rgb(249, 132, 74, .75) !important;
}

.badge.bg-info {
    outline-color: rgb(77, 144, 142) !important;
    border-color: rgb(77, 144, 142) !important;
    background-color: rgb(77, 144, 142, .75) !important;
}

.badge.bg-dark {
    outline-color: rgb(249, 199, 79) !important;
    color: rgb(252, loc 252, 252) !important;
    color: rgba(41, 41, 41, 0.7) !important;
    background-color: rgba(143, 145, 146, 0.20) !important;
}

.badge.bg-dark-1 {
    outline-color: rgb(3, 3, 3) !important;
    color: rgb(252, loc 252, 252) !important;
    border-color: rgb(249, 199, 79) !important;
    background-color: rgba(22, 22, 22) !important;
}

.badge.bg-light {
    outline-color: rgb(39, 125, 161) !important;
    border-color: rgb(39, 125, 161) !important;
    background-color: rgb(39, 125, 161, .75) !important;
}

.badge.alert-secondary {
    outline-color: rgb(248, 150, 30) !important;
    background-color: rgb(144, 190, 109, .75) !important;
}

.badge.alert-primary {
    outline-color: rgb(67, 170, 139) !important;
    background-color: rgb(67, 170, 139, .75) !important;
}

.badge.alert-success {
    outline-color: rgb(39, 125, 161) !important;
    background-color: rgb(39, 125, 161, .75) !important;
}

.badge.alert-danger {
    outline-color: rgb(249, 132, 74, .5) !important;
    background-color: rgb(249, 132, 74, .75) !important;
}

.badge.alert-info {
    outline-color: rgb(243, 114, 44) !important;
    background-color: rgb(243, 114, 44, .75) !important;
}

.badge.alert-warning {
    outline-color: rgb(77, 144, 142) !important;
    background-color: rgb(77, 144, 142, .75) !important;
}

.badge.alert-light {
    outline-color: rgb(249, 199, 79) !important;
    background-color: rgb(249, 199, 79, .75) !important;
}

.badge.alert-dark {
    outline-color: rgb(248, 150, 30) !important;
    background-color: rgb(248, 150, 30, .75) !important;
}

.card-fr {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 1.5em .5em .5em;
    border-radius: .5em;
    box-shadow: 0 3px 5px rgba(104, 136, 150, 0.2);
    margin-left: 1rem;
    margin-right: 1rem;
    /* border: 1em;
    border-style: solid;
    border-width: 1px 1px 1px 1px; 
    border-color: rgb(77, 144, 142); */
    background-color: rgba(143, 145, 146, 0.25);

}

.card-body {
    background-color: transparent;
}



.card-top-sl {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 1.5em .5em .5em;
    border-radius: 1em;
    box-shadow: 0 5px 7px rgba(39, 125, 161, 0.2);
    border: 2em;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(77, 144, 142);
    background-color: rgba(130, 138, 145, 0.11);
}

/* .card {
    background-color: rgba(87, 117, 144, .25) !important;
} */

th {
    height: 100%;
    font-weight: normal;
}

/* td {
    border-radius: .5em !important;
    background-color: rgb(39, 125, 161) !important;
    color: white !important;
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    text-align: center !important;
} */

td.tv {
    border-radius: .5em !important;
    background-color: rgb(39, 125, 161, .7) !important;
    color: white !important;
    background-clip: padding-box !important;
    border: 2px solid transparent !important;

}

td.over-limit-0 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(68, 184, 73, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-1 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(68, 184, 73, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-2 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(88, 171, 72, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-3 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(108, 158, 72, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-4 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgba(98, 97, 96, 0.69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-5 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgba(120, 108, 99, 0.69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-6 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(202, 121, 86, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-7 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(214, 107, 82, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-8 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(226, 93, 77, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-9 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(237, 79, 73, .69) !important;
    text-align: center !important;
    color: white !important;
}

td.over-limit-10 {
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
    border-radius: .4em !important;
    background-color: rgb(249, 65, 68, .69) !important;
    text-align: center !important;
    color: white !important;
}


.content {
    padding: 0 1rem 1rem;
}

.content>header {
    /* border-bottom: 1px solid lightgray; */
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #caa6f6;
    border: 1px solid #377ba8;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.alignCenter {
    align-content: center;
    text-align: center;
}



.player-names {
    border: 1px solid gray;
    border-right: 1px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}


.row-bottom-margin {
    margin-bottom: -20px;
}


.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
    background-color: transparent;
}

.b-transparent {
    background-color: transparent;
}

.b-link {
    color: var(--link-color) !important;
    text-decoration: none;
    font-size: 14px
}


.d-flex {
    background-color: transparent !important;
}

a.right {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.avatar-player {
    width: 38px;
    height: 32px;
    flex: 0 0 38px;
    /* float: left; */
    /* background: center center / cover rgb(239, 239, 239); */
    /* border-radius: 50%; */
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgb(39, 125, 161);
}

.avatar-traded-asset-qb {
    width: 38px;
    height: 32px;
    flex: 0 0 38px;
    /* float: left; */
    /* background: center center / cover rgb(239, 239, 239); */
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(39, 125, 161);
}

.avatar-traded-asset-rb {
    width: 38px;
    height: 32px;
    flex: 0 0 38px;
    /* float: left; */
    /* background: center center / cover rgb(239, 239, 239); */
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(144, 190, 109);
}

.avatar-traded-asset-wr {
    width: 38px;
    height: 32px;
    flex: 0 0 38px;
    /* float: left; */
    /* background: center center / cover rgb(239, 239, 239); */
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(67, 170, 139);
}

.avatar-traded-asset-te {
    width: 38px;
    height: 32px;
    flex: 0 0 38px;
    /* float: left; */
    /* background: center center / cover rgb(239, 239, 239); */
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(249, 132, 74);
}

.avatar-traded-asset-pick {
    width: 38px;
    height: 32px;
    flex: 0 0 38px;
    /* float: left; */
    /* background: center center / cover rgb(239, 239, 239); */
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(90, 145, 168);
}

.avatar-manager {
    width: 38px;
    height: 38px;
    border-radius: 7px;
    border: .5px solid #6c757d59;
}

html {
    font-size: .69rem;
}

.span-fr {
    background-color: transparent;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: transparent !important;
    border: 1px solid rgba(0, 0, 0, .125);
}

.list-group {
    display: inline-block;
    background-color: transparent !important;
}


a:link {
    text-decoration: none;
}

a {
    font-size: 14px;
}

h5>.badge {
    vertical-align: bottom;
}

.tooltip>.tooltip-inner {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    border: 1px solid rgb(98, 97, 97) !important;
    font-size: 12px !important;
    border-radius: .5em !important;
}


.tooltip.show {
    opacity: 1.0 !important;
}


@media screen and (max-width : 1920px) {
    .div-only-mobile {
        visibility: hidden;
    }
}

@media screen and (max-width : 906px) {
    .desk {
        visibility: hidden;
    }

    .div-only-mobile {
        visibility: visible;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}

.box {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: #ccc;
}

table.dataTable thead th {
    border-bottom: 0 !important;
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

table.dataTable {
    max-width: 100% !important;
}

.styled-table {
    border-collapse: collapse;
    background-color: transparent;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border-bottom: #000000;
}

.styled-table thead tr {
    color: black;
    text-align: center;


}

table.dataTable tbody tr {
    background-color: transparent !important;
}


.styled-table th {
    padding: 12px 15px;
    border-bottom: 1px solid #0fad44;
}

.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--text-color);

}

.styled-table tbody tr {
    border-bottom: 1px solid #000000;
}

.styled-table thead {
    background-color: #c2c1bfb7;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #E3E2DF;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.hidden {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(161, 8, 8);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #18b84d;
}

input:focus+.slider {
    box-shadow: 0 0 1px #df1111;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

/* Style for the checkboxes */
.checkbox-wrapper {

    margin-bottom: 10px;
    font-size: 16px;
}

.checkbox-wrapper label {
    margin-right: 15px;
}

/* Style for the superflex toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin-bottom: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c8c8c8;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(144, 190, 109);
}

input:focus+.slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    color: var(--text-color);
    font-size: 16px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

@media (min-width: 768px) {
    .sidebar {
        position: sticky;
        top: 4rem;
        bottom: 0;
        overflow-y: auto;
    }

    .table {
        margin-left: 23%;
        max-width: 77%;
    }
}

.team-logo {
    height: 20px;
    width: 20px;
}

#toast-container>.toast {
    background-color: rgb(248, 150, 30);
    font-size: 18px;
    /* Increase text size */
    min-height: 80px;
    /* Increase banner height */
    padding: 20px 15px;
    /* Add padding for taller banner */
    text-align: center;
}

/* Hide the icon */
#toast-container>.toast:before {
    display: none;
}

#toast-container>.toast {
    background-image: none !important;
}

.toast-message {
    background-color: rgb(248, 150, 30);
    ;
}

.checkbox-wrapper label {
    padding: 0 1px;
}

.container {
    max-width: 2560px;
    /* set the max-width to 960 pixels */
}

.trade-badge {
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--text-color);
}