{% macro buttons_large(session_id, user_id, league_id, ktc_button='', fp_button='', dp_button='',
fc_button='',sf_button='',
espn_button='', nfl_button='',fp_c_button='', tt_button='', fc_c_button='', fc_tt_button='', sf_tt_button='') %}
<form method="post" class="form-inline">
    <div class="btn-group flex-wrap" style="gap:5px">
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-lg dropdown-toggle" style="font-size: 14px;" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dynasty Ranks
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 14px;">
                <button class="dropdown-item" type="submit" name="get_league" value="{{session_id, user_id, league_id}}"
                    {{ktc_button}}>KeepTradeCut</button>
                <!-- <button class="dropdown-item" type="submit" name="get_league_fp"
                    value="{{session_id, user_id, league_id}}" {{fp_button}}>Fantasy Pros</button> -->
                <button class="dropdown-item" type="submit" name="get_league_dp"
                    value="{{session_id, user_id, league_id}}" {{dp_button}}>Dynasty Process</button>
                <button class="dropdown-item" type="submit" name="get_league_fc"
                    value="{{session_id, user_id, league_id}}" {{fc_button}}>FantasyCalc</button>
                <button class="dropdown-item" type="submit" name="get_league_sf"
                    value="{{session_id, user_id, league_id}}" {{sf_button}}>SuperFlex</button>

            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-lg dropdown-toggle" style="font-size: 14px;" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contender Ranks
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 12px;">
                <button class="dropdown-item" type="submit" name="contender_rankings"
                    value="{{session_id, user_id, league_id}}" {{espn_button}}>-2023- ESPN Projections</button>
                <button class="dropdown-item" type="submit" name="nfl_contender_rankings"
                    value="{{session_id, user_id, league_id}}" {{nfl_button}}>-2022- NFL Projections</button>
                <button class="dropdown-item" type="submit" name="fp_contender_rankings"
                    value="{{session_id, user_id, league_id}}" {{fp_c_button}}>-2022- Fantasy Pros
                    Projections</button>
                <button class="dropdown-item" type="submit" name="fc_contender_rankings"
                    value="{{session_id, user_id, league_id}}" {{fc_c_button}}>FantasyCalc</button>
            </div>
        </div>
        <div class="dropdown">
            <form method="post" class="form-inline">
                <button class="btn btn-outline-primary btn-lg dropdown-toggle" style="font-size: 14px;" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trades
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 14px;">
                    <button class="dropdown-item" type="submit" name="trade_tracker"
                        value="{{session_id, user_id, league_id}}" {{tt_button}}>KeepTradeCut</button>
                    <button class="dropdown-item" type="submit" name="trade_tracker_fc"
                        value="{{session_id, user_id, league_id}}" {{fc_tt_button}}>FantasyCalc</button>
                    <button class="dropdown-item" type="submit" name="trade_tracker_sf"
                        value="{{session_id, user_id, league_id}}" {{sf_tt_button}}>SuperFlex</button>
                </div>
        </div>
    </div>
</form>
{% endmacro %}