{% macro power_status_ranks(owners, pct_values, rank_name, league_id, session_id, pct_values_dict, view_source) %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="card border-0" style="min-width: 31rem;max-width: 50rem;background-color: transparent;">
    <div class="header">
        <h1 class="title">{{rank_name}}</h1>
    </div>
    <ul class="list-group list-group-flush">
        {% for owner in owners %}
        <li class="list-group-item" style="background-color: transparent;">
            <a class="b-link"
                href="{{url_for('leagues.team_view', user_id=owner.user_id, league_id=league_id, session_id=session_id, view_source=view_source)}}">{{owner.total_rank
                | suffix}} {{owner.display_name}}</a>
            <span style="float:right;font-size: 13px; font-weight: bold;">{{"{:,}".format(owner.total_value)}}</span>
        </li>
        <div class="progress border border-dark" style="height: 20px;background-color: white;font-size: 1rem;">
            <div class="progress-bar bg-primary" role="progressbar"
                style="width:{{pct_values_dict.qb_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.qb_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-placement="right" data-html="true"
                title="QBs: <b>{{'{:,}'.format(owner.qb_sum) | default('', True)}}  &bull; {{owner.qb_rank | default('', True) | suffix}} </b>">
                QB
            </div>
            <div class="progress-bar bg-success" role="progressbar"
                style="width: {{pct_values_dict.rb_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.rb_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-html="true"
                title="RBs: <b>{{'{:,}'.format(owner.rb_sum) | default('', True)}} &bull; {{owner.rb_rank | default('', True) | suffix}} </b>">
                RB
            </div>
            <div class="progress-bar bg-warning" role="progressbar"
                style="width: {{pct_values_dict.wr_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.wr_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-html="true"
                title="WRs: <b>{{'{:,}'.format(owner.wr_sum)  | default('', True)}} &bull; {{owner.wr_rank | default('', True) | suffix}} </b>">
                WR
            </div>
            <div class="progress-bar bg-danger" role="progressbar"
                style="width: {{pct_values_dict.te_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.te_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-html="true"
                title="TEs: <b>{{'{:,}'.format(owner.te_sum) | default('', True)}} &bull; {{owner.te_rank | default('', True) | suffix}} </b>">
                TE
            </div>
            <div class="progress-bar bg-dark" role="progressbar"
                style="width: {{pct_values_dict.picks_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.picks_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-html="true"
                title="Picks: <b>{{'{:,}'.format(owner.picks_sum) | default('', True)}}  &bull; {{owner.picks_rank | default('', True) | suffix}} </b>">
                Picks
            </div>
        </div>
        {% endfor %}
    </ul>
    <br>
</div>
{% endmacro %}

{% macro contender_status_ranks(owners, pct_values, rank_name, league_id, session_id, pct_values_dict, view_source) %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="card border-0" style="width:31rem; background-color: transparent;">
    <div class="header">
        <h1 class="title">{{rank_name}}</h1>
    </div>
    <ul class="list-group list-group-flush">
        {% for owner in owners %}
        <li class="list-group-item" style="background-color: transparent;">
            <h5>{{owner.total_rank
                | suffix}} {{owner.display_name}}
                <span style="float:right;font-size: 13px; font-weight: bold;">{{"{:,}".format(owner.total_value
                    )}}</span>
            </h5>
        </li>
        <div class="progress border border-dark" style="height: 20px;background-color: white;font-size: 1rem;">
            <div class="progress-bar bg-primary" role="progressbar"
                style="width:{{pct_values_dict.qb_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.qb_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-placement="right" data-html="true"
                title="QBs: <b>{{'{:,}'.format(owner.qb_sum) | default('', True)}}  &bull; {{owner.qb_rank | default('', True) | suffix}} </b>">
                QB
            </div>
            <div class="progress-bar bg-success" role="progressbar"
                style="width: {{pct_values_dict.rb_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.rb_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-html="true"
                title="RBs: <b>{{'{:,}'.format(owner.rb_sum) | default('', True)}} &bull; {{owner.rb_rank | default('', True) | suffix}} </b>">
                RB
            </div>
            <div class="progress-bar bg-warning" role="progressbar"
                style="width: {{pct_values_dict.wr_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.wr_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-html="true"
                title="WRs: <b>{{'{:,}'.format(owner.wr_sum)  | default('', True)}} &bull; {{owner.wr_rank | default('', True) | suffix}} </b>">
                WR
            </div>
            <div class="progress-bar bg-danger" role="progressbar"
                style="width: {{pct_values_dict.te_total[loop.index-1]}}%;"
                aria-valuenow="{{pct_values_dict.te_total[loop.index-1]}}" aria-valuemin="0" aria-valuemax="100"
                data-toggle="tooltip" data-html="true"
                title="TEs: <b>{{'{:,}'.format(owner.te_sum) | default('', True)}} &bull; {{owner.te_rank | default('', True) | suffix}} </b>">
                TE
            </div>
        </div>
        {% endfor %}
    </ul>
    <br>
</div>
{% endmacro %}