{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Players{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
    <button type="submit" name="refresh_players" value="{{(user_id, owned_league, session_id)}}">Refresh
        Players</button>
</form>
<table id="data" class="table-all">
    <h1>{{league_name}}</h1>
    <thead class="table-all">
        <tr>
            {% for col in col_names %}
            {% if col != 'full_name' %}
            <th class="rotate">
                <div><span>{{col}}</span></div>
            </th>
            {% else %}
            <th class="transparent">
                <div><span>{{col}}</span></div>
            </th>
            {% endif %}
            {% endfor %}

        </tr>
    </thead>

    <tbody class='table-all'>
        {% for row in data %}
        {% for item in row %}
        {% if (item is number) and item >= 90 %}
        <td class="over-limit-90">{{item}}</td>
        {% elif (item is number) and item >= 80 %}
        <td class="over-limit-80">{{item}}</td>
        {% elif (item is number) and item >= 70 %}
        <td class="over-limit-70">{{item}}</td>
        {% elif (item is number) and item >= 60 %}
        <td class="over-limit-60">{{item}}</td>
        {% elif (item is number) and item >= 50 %}
        <td class="over-limit-50">{{item}}</td>
        {% elif (item is number) and item >= 40 %}
        <td class="over-limit-40">{{item}}</td>
        {% elif (item is number) and item >= 30 %}
        <td class="over-limit-30">{{item}}</td>
        {% elif (item is number) and item >= 20 %}
        <td class="over-limit-20">{{item}}</td>
        {% elif (item is number) and item >= 10 %}
        <td class="over-limit-10">{{item}}</td>
        {% elif (item is number) and item >= 0 %}
        <td class="over-limit-0">{{item}}</td>
        {% else %}
        <td class="player-names">{{ item }}</td>
        {% endif %}
        {% endfor %}

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}