<!-- {% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}

{% block content %}
{{session_id, user_id, league_id}}
<table id="owned_players" class="table table-striped">
    <thead>
        {% for col in col_names %}
        <th>
            <div><span>{{col}}</span></div>
        </th>
        {% endfor %}
    </thead>
    <tbody>
        <tr>
            {% for row in data %}
            {% for item in row %}
            <td>{{item}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

    </tbody>
</table>

{% endblock %} -->