{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}Leagues{% endblock %}</h1>
{% endblock %}
{%block content%}
<h1>USER:{{session_id}}</h1>
{% for league in leagues %}
<form method="post">
    <div class="btn-group">
        <!-- <ul>{{league[0],league[1],session_id, call_id}}</ul> -->
        <button type="submit" name="league_data" value="{{league[1], session_id, call_id}}">run</button>
    </div>
</form>

<!-- <div class="alignCenter">
    <a href="/username={{user_name}}/league/leaguename={{league[0]}}">{{league[0]}}</a>
</div> -->
{% endfor %}
{% endblock %}