{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}
{% from 'buttons.html' import buttons_large %}
{% from 'tables.html' import contender_ranks %}
{% from 'ranks.html' import contender_status_ranks %}
{% from 'best_available.html' import ba %}
{% from 'header_page.html' import league_header %}
{% from 'player_cards.html' import player_contender_cards %}
{% from 'table_footer.html' import table_footer %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
{{league_header(league_name, avatar)}}
{% if cur_league.previous_league_id is none %}
{% set bt = 'disabled'%}
{%endif%}
<div style="display: inline-block;">
    <h3>User &bull; {{user_name}} &bull; Source &bull; <small class="text-muted"
            style="margin-left: 1px;">FantasyCalc</small>
    </h3>
    <h7 style="margin-right: 10px;right: 0;">League refreshed {{ refresh_time }} ago</h7>
</div>
<div style="display: flex; gap:8px; margin-top: 5px;">
    <form method="post" class="form-inline">
        <button class="btn btn-outline-secondary float-right btn-sm" type="submit" name="fc_contender_rankings"
            value="{{session_id,user_id,session_league_id, True}}"><i class="fa fa-refresh" aria-hidden="true"></i>
            | refresh league</button>
    </form>
</div>
<br>
<h5>
    <span class="badge bg-dark-1">{{cur_league.league_year}}</span>
    {% if cur_league.league_cat == 0 %}
    <span class="badge alert-dark">{{cur_league.league_cat | league_cat}}</span>
    {% endif %}
    {% if cur_league.league_cat == 1 %}
    <span class="badge alert-light">{{cur_league.league_cat | league_cat}}</span>
    {% endif %}
    {% if cur_league.league_cat == 2 %}
    <span class="badge alert-success">{{cur_league.league_cat | league_cat}}</span>
    {% endif %}
    {% if cur_league.total_rosters < 12 %} <span class="badge alert-success">{{cur_league.total_rosters}}
        Team
        </span>
        {% endif %}
        {% if cur_league.total_rosters == 12 %}
        <span class="badge alert-danger">{{cur_league.total_rosters}} Team</span>
        {% endif %}
        {% if cur_league.total_rosters > 12 %}
        <span class="badge alert-light">{{cur_league.total_rosters}} Team</span>
        {% endif %}
        {% if cur_league.qb_cnt + cur_league.sf_cnt > 1 %}
        <span class="badge alert-secondary">Superflex</span>
        {% else %}
        <span class="badge alert-primary">Single QB</span>
        {% endif %}
        <span class="badge bg-warning">{{cur_league.starter_cnt}} Starters</span>
</h5>
<br>
{{buttons_large(session_id, user_id, league_id, fc_c_button='disabled')}}
<br>
<div class="row justify-content-between">
    <div class="col-auto">
        {{contender_status_ranks(owners, pct_values, 'Contender Rankings', league_id,
        session_id,pct_values_dict,'contender_rankings_fc')}}
    </div>
    <div class="col">
        <div style="margin-top: 30px;">
            {{contender_ranks(owners, user_id, league_id, session_id,'contender_ranks_fc')}}
            {{table_footer('FantasyCalc Player Rankings', update_diff_minutes)}}
        </div>
    </div>
    <div class="col-auto">
        <div class="card border-0" style="margin-top: 30px;background-color: transparent;">
            <canvas id="fc_c_chart" width="340" height="340"></canvas>
            <script>
                try {
                    const ctx = document.getElementById('fc_c_chart').getContext('2d');
                    const fc_c_chart = new Chart(ctx, {
                        type: 'radar',
                        data: {
                            labels: ['QB', 'RB', 'WR', 'TE', 'Starters', 'Bench'],
                            datasets: [{
                                label: '{{page_user[0][0]}}',
                                data: ['{{page_user[0][1]}}', '{{page_user[0][2]}}', '{{page_user[0][3]}}', '{{page_user[0][4]}}', '{{page_user[0][5]}}', '{{page_user[0][6]}}'],
                                backgroundColor: 'rgb(39, 125, 161, .95)',
                                borderColor: 'rgb(67, 170, 139, 1.0)',
                                borderWidth: 3
                            }]
                        },
                        options: {
                            font: {
                                size: 16,
                                weight: "bolder"
                            },
                            plugins: {
                                tooltip: {
                                    bodyColor: '#F9C74F',
                                    backgroundColor: 'rgba(67, 170, 139, .8)',
                                }
                            },

                            scales: {

                                r: {
                                    reverse: true,
                                    max: {{ total_rosters }},
                min: 1,
                    beginAtZero: false,
                        ticks: {
                    stepSize: 4,
                        display: false,
                            font: {
                        size: 16,
                            weight: "bold"
                    }
                }
                                },
                            },
        
                        }
                    });
            } catch (e) {

                }
            </script>
        </div>
        <div style="margin-top: 30px;">
            {{ba(best_available)}}
        </div>
    </div>
</div>
<br>

<div> <a class="btn btn-outline-dark" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false"
        aria-controls="collapseExample"><i class="fa fa-expand" aria-hidden="true"></i> | all teams</a>
</div>
<br>
<div class="row justify-content-center">
    {{ player_contender_cards(owners, users, aps, league_id, session_id, 'fc', 'contender_rankings_fc') }}
</div>
{% endblock %}