{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}
{% from 'buttons.html' import buttons_large %}
{% from 'tables.html' import power_ranks %}
{% from 'ranks.html' import power_status_ranks %}
{% from 'best_available.html' import ba %}
{% from 'header_page.html' import league_header %}
{% from 'player_cards.html' import player_cards %}
{% from 'table_footer.html' import table_footer %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
{{league_header(league_name, avatar)}}
<br>
<div class="row justify-content-center">
    {{power_status_ranks(owners, pct_values, 'Power Rankings', league_id, session_id, 'get_league_dp')}}
    <div class="col-auto" style="width: 65em;">
        {{buttons_large(session_id, user_id, league_id, dp_button='disabled')}}
        <br>
        <div class="col-auto" style="width:65em; margin-right: 50px;">
            {{power_ranks(owners, user_id, league_id, session_id,'get_league_dp')}}
            <br>
            {{table_footer('Dynasty Process Player Values', update_diff_minutes)}}
        </div>
    </div>

    <div class="col-auto" style="margin-top: 90px;">
        <canvas id="myChart" width="300" height="300"></canvas>
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ['QB', 'RB', 'WR', 'TE', 'Picks', 'Starters', 'Bench'],
                    datasets: [{
                        label: '{{page_user[0][0]}}',
                        data: ['{{page_user[0][1]}}', '{{page_user[0][2]}}', '{{page_user[0][3]}}', '{{page_user[0][4]}}', '{{page_user[0][5]}}', '{{page_user[0][6]}}', '{{page_user[0][7]}}'],
                        backgroundColor: 'rgb(39, 125, 161,.7)',
                        borderColor: 'rgb(249, 199, 79, 0.7)',
                        borderWidth: 2
                    }]
                },
                options: {
                    plugins: {
                        tooltip: {
                            bodyColor: '#F9C74F'
                        }
                    },

                    scales: {

                        r: {
                            reverse: true,
                            max: {{ total_rosters }},
            min: 1,
                beginAtZero: false,

                    ticks: {
                stepSize: 3,
                    display: true,
                        font: {
                    size: 12
                }
            },
            pointLabels: {
                display: true
            },
        
        
                                },
                            },
            responsive: false,
        
                        }
                    });
        </script>
    </div>
    {{ba(best_available)}}
</div>
<br>

<div> <a class="btn btn-secondary" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false"
        aria-controls="collapseExample">Expand all teams</a>
</div>

<br>
<div class="row justify-content-center">
    {{ player_cards(owners, users, aps, league_id, session_id, 'dp', 'get_league_dp') }}
</div>
{% endblock %}