{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}

<h1 class="text-center">{% block title %}{{league_name}}{% endblock %}</h1>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="header">
                <h4 style="padding:10px" class="title">Power Rankings</h4>
            </div>
            <ul class="list-group list-group-flush">
                {% for owner in owners %}
                <li class="list-group-item">{{owner.total_rank | suffix}} {{owner.display_name }}
                </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-auto">
            <table class="table rounded table-hover">
                <thead class="" style="text-align:center">
                    <tr>
                        <th scope="col">Manager</th>
                        <th>Overall</th>
                        <th>QB</th>
                        <th>RB</th>
                        <th>WR</th>
                        <th>TE</th>
                        <th>FLEX</th>
                        <th>SUPER FLEX</th>
                        <th>BENCH</th>
                    </tr>
                </thead>
                <tbody>
                    {% for owner in owners %}
                    <tr>
                        <td scope="row" style="text-align:center">{{owner.display_name}}</td>
                        <td style="text-align:center">{{owner.total_rank | suffix}}</td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="card border-0" style="width: 18em;">
            <div class="card-body">
                <div class="list-group">
                    <form method="post" class="form-inline">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-lg" disabled>Power
                                Rankings</button>
                            <br>
                            <button class="btn btn-outline-primary btn-lg" type="submit" name="trade_tracker" value="{{session_id, user_id, league_id}}">Trade
                                Tracker</button>
                            <button class="btn btn-outline-primary btn-lg" type="submit" name="contender_rankings" value="{{session_id, user_id, league_id}}">Contender
                                Rankings</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div>
    <form method="post" class="form-inline">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" type="submit" name="ktc_rankings" value="{{session_id, user_id, league_id}}">KTC</button>
            <button class="btn btn-secondary" type="submit" name="fp_rankings" value="{{session_id, user_id, league_id}}" disabled>Fantasy Pros</button>
        </div>
    </form>
    <label style="float:right;">Fantasy Pros Player Values Updated: {{date_}}</label>
</div>
<br>
<br>
<br>
<div class="row">
    {% for owner in owners %}
    <div class="col-sm-3 justify-content-center">
        <h5 class="text-left">{{owner.display_name}}</h5>
        <h5 class="text-left">Total Value: {{"{:,}".format(owner.total_value)}}</h5>
        <h5 class="text-left"> Rank: {{owner.total_rank | suffix}}</h5>
        {% for k, v in aps.items()%}
        <div class="card-fr" style="width: 18rem; margin-right: 10px;">
            {% set designation = k %}
            <div class="card-header bg-transparent">{{designation | upper}} Rank: PLACEHODLER
            </div>
            <br> {% for p,j in v.items() %}
            <div class="card d-flex border-0">
                {% for c in j if c.user_id == owner.user_id %}

                <div class="d-flex justify-content-between">
                    {%if loop.index == 1%} {%if c.fantasy_position == "QB" %}
                    <h5 class="text-left margin-left: 20px;"><span class="badge bg-primary">{{c.fantasy_position}}</span></h5>
                    {% elif c.fantasy_position == "RB" %}
                    <h5 class="text-left margin-left: 20px;"><span class="badge bg-success">{{c.fantasy_position}}</span></h5>
                    {% elif c.fantasy_position == "WR" %}
                    <h5 class="text-left margin-left: 20px;"><span class="badge bg-warning">{{c.fantasy_position}}</span></h5>
                    {% elif c.fantasy_position == "TE" %}
                    <h5 class="text-left margin-left: 20px;"><span class="badge bg-danger">{{c.fantasy_position}}</span>
                    </h5>
                    {% elif c.fantasy_position == "FLEX" %}
                    <h5 class="text-left margin-left: 20px;"><span class="badge bg-info">{{c.fantasy_position}}</span>
                    </h5>
                    {% elif c.fantasy_position == "SUPER_FLEX" %}
                    <h5 class="text-left margin-left: 20px;"><span class="badge bg-dark">{{c.fantasy_position}}</span>
                    </h5>
                    {%endif%}
                    <h5 class="text-right"><span class="badge bg-secondary">Rank</span></h5>
                    {%endif%}
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        <object class="avatar-player" data="{{c.sleeper_id | sleeper_img}}" type="image/png">
                            <img class="avatar-player"
                                src="https://sleepercdn.com/images/v2/icons/player_default.webp" />
                        </object>
                        <p class="text-left align-middle">{{c.full_name}}</p> &nbsp &nbsp
                        <b class="text-left"><span class="text-lg-right"> {{"{:,}".format(c.player_value)|
                                replace(999, "Unranked") }}</b></span>
                    </li>
                    {% endfor %}
            </div>
            {% endfor %}
            </ul>

        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}