{% extends 'base.html' %} {% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% endblock %} {% block content %}
<h3 class="text-center">Welcome to Superflex an app that takes your league and combines it with values from KeepTradeCut to try and help you get a sense of where your team stands from a dynasty perspective.</h3>
<br>
<div class="container my-5">
    <form method="post">

        <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input type="text" size="100" class="form-control input-lg" name="username" id="username" value="{{ user_name[1] if user_name else request.form['username'] }}" required placeholder="{{user_name[1] if user_name else 'User Name...'}}">
            <input type="submit" value="Submit">
        </div>
        <h5 class="text-center">Powered by data from Sleeper and KeepTradeCut</h5>

    </form>

</div>


{% endblock %}