{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}
<div class="col-md-6" style="padding-top: 20px;">
    <div class="card-body">
        <div class="row">
            {% if league_summary.dynasty > 0 %}
            <h4><span class="badge alert-success">Dynasty {{league_summary.dynasty}}</span>
                {% endif %}
                {% if league_summary.keeper > 0 %}
                <span class="badge alert-light">Keeper {{league_summary.keeper}}</span>
                {% endif %}
                {% if league_summary.redraft > 0 %}
                <span class="badge alert-dark">Redraft {{league_summary.redraft}}</span>
                {% endif %}
                {% if league_summary.eight_team > 0 %}
                <span class="badge alert-success">8 Team {{league_summary.eight_team}}</span>
                {% endif %}
                {% if league_summary.ten_team > 0 %}
                <span class="badge alert-success">10 Team {{league_summary.ten_team}}</span>
                {% endif %}
                {% if league_summary.twelve_team > 0 %}
                <span class="badge alert-danger"> 12 Team {{league_summary.twelve_team}}</span>
                {% endif %}
                {% if league_summary.sixteen_team > 0 %}
                <span class="badge alert-light">16 Team {{league_summary.sixteen_team}}</span>
                {% endif %}
                {% if league_summary.thirtytwo_team > 0 %}
                <span class="badge alert-light"> 32 Team {{league_summary.thirtytwo_team}}</span>
                {% endif %}
                {% if league_summary.superflex > 0 %}
                <span class="badge alert-secondary">Superflex {{league_summary.superflex}}</span>
                {% endif %}
                {% if league_summary.single_qb > 0 %}
                <span class="badge alert-primary">Single QB {{league_summary.single_qb}}</span>
            </h4>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    {% for league in leagues[:leagues|length] %}

    <div class="col-sm-3">
        <div class="card-fr">
            <div class="card-body">
                <img class="avatar-manager" src="https://sleepercdn.com/avatars/thumbs/{{league.avatar}}"
                    onError="this.onerror=null;this.src='static/XQH8I4-a_400x400.jpg';" />
                <h5 class="card-title" style="font-size: 18px;">{{league.league_name}} &bull; {{league.league_year}}
                </h5>

                <h5>
                    {% if league.league_cat == 0 %}
                    <span class="badge alert-dark">{{league.league_cat | league_cat}}</span>
                    {% endif %}
                    {% if league.league_cat == 1 %}
                    <span class="badge alert-light">{{league.league_cat | league_cat}}</span>
                    {% endif %}
                    {% if league.league_cat == 2 %}
                    <span class="badge alert-success">{{league.league_cat | league_cat}}</span>
                    {% endif %}
                    {% if league.total_rosters < 12 %} <span class="badge alert-success">{{league.total_rosters}}
                        Team</span>
                        {% endif %}
                        {% if league.total_rosters == 12 %}
                        <span class="badge alert-danger">{{league.total_rosters}} Team</span>
                        {% endif %}
                        {% if league.total_rosters > 12 %}
                        <span class="badge alert-light">{{league.total_rosters}} Team</span>
                        {% endif %}
                        {% if league.qb_cnt + league.sf_cnt > 1 %}
                        <span class="badge alert-secondary">Superflex</span>
                        {% else %}
                        <span class="badge alert-primary">Single QB</span>
                        {% endif %}

                        <span class="badge bg-warning">{{league.starter_cnt}} Starters</span>


                </h5>
                <form method="post" class="form-inline">
                    <div class="btn-group flex-wrap" style="gap:10px;">
                        <div class="dropdown">

                            <button class="btn btn-outline-primary dropdown-toggle" style="font-size: 14px;"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Power Rankings
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 14px;">
                                <button class="dropdown-item" type="submit" name="get_league"
                                    value="{{league.session_id,league.user_id,league.league_id}}">KeepTradeCut</button>
                                <button class="dropdown-item" type="submit" name="get_league_dp"
                                    value="{{league.session_id,league.user_id,league.league_id}}">Dynasty
                                    Process</button>
                                <button class="dropdown-item" type="submit" name="get_league_fc"
                                    value="{{league.session_id,league.user_id,league.league_id}}">FantasyCalc</button>
                                <button class="dropdown-item" type="submit" name="get_league_sf"
                                    value="{{league.session_id,league.user_id,league.league_id}}">SuperFlex</button>
                            </div>

                        </div>
                        <div class="dropdown">

                            <button class="btn btn-outline-primary dropdown-toggle" style="font-size: 14px;"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Contender Rankings
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 14px;">
                                <button class="dropdown-item" type="submit" name="contender_rankings"
                                    value="{{league.session_id,league.user_id,league.league_id}}">ESPN
                                    Projections</button>
                                <button class="dropdown-item" type="submit" name="nfl_contender_rankings"
                                    value="{{league.session_id,league.user_id,league.league_id}}">NFL
                                    Projections</button>
                                <button class="dropdown-item" type="submit" name="fp_contender_rankings"
                                    value="{{league.session_id,league.user_id,league.league_id}}">Fantasy
                                    Pros
                                    Projections</button>
                                <button class="dropdown-item" type="submit" name="fc_contender_rankings"
                                    value="{{league.session_id,league.user_id,league.league_id}}">FantasyCalc
                                </button>
                            </div>

                        </div>
                        <div class="dropdown">
                            <form method="post" class="form-inline">
                                <button class="btn btn-outline-primary dropdown-toggle" style="font-size: 14px;"
                                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Trade Tracker
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    style="font-size: 14px;">
                                    <button class="dropdown-item" type="submit" name="trade_tracker"
                                        value="{{league.session_id,league.user_id,league.league_id}}">KTC
                                        Rankings</button>
                                    <button class="dropdown-item" type="submit" name="trade_tracker_fc"
                                        value="{{league.session_id,league.user_id,league.league_id}}">FantasyCalc</button>
                                    <button class="dropdown-item" type="submit" name="trade_tracker_sf"
                                        value="{{league.session_id,league.user_id,league.league_id}}">SuperFlex</button>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}