{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}
<div class="row">
    {% for league in leagues[:leagues|length] %}

    <div class="col-sm-3">
        <div class="card-fr">
            <div class="card-body">
                <object class="avatar-player" data="https://sleepercdn.com/avatars/thumbs/{{league[5]}}"
                    type="image/png">
                    <img class="avatar-player" src="https://sleepercdn.com/images/v2/icons/player_default.webp" />
                </object>
                <h5 class="card-title">{{league[4]}}</h5>
                <span class="badge alert-secondary">{{league[6]}} Team</span>
                <span class="badge alert-secondary">{{league[15] | upper }}</span>
                <p></p>
                <form method="post" class="form-inline">
                    <div class="btn-group">
                        <div class="dropdown">
                            <form method="post" class="form-inline">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Power Rankings
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" type="submit" name="ktc_rankings"
                                        value="{{league[0],league[1],league[3]}}">Keep Trade Cut</a>
                                        <button class="dropdown-item" type="submit" name="fp_rankings"
                                            value="{{league[0],league[1],league[3]}}">Fantasy Pros</button>
                                        <button class="dropdown-item" type="submit" name="dp_rankings"
                                            value="{{league[0],league[1],league[3]}}">Dynasty Process</button>
                                </div>
                            </form>
                        </div>
                        <br>
                        <div class="dropdown">
                            <form method="post" class="form-inline">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Contender Rankings
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" type="submit" name="contender_rankings"
                                        value="{{league[0],league[1],league[3]}}">ESPN Projections</a>
                                </div>
                            </form>
                        </div>
                        <button class="btn btn-outline-primary" type="submit" name="sel_trade_tracker"
                            value="{{league[0],league[1],league[3],}}">Trade Tracker</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}