{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}
{% from 'reusable/player_cards.html' import player_cards %}
{% from 'reusable/header_page.html' import league_header %}
{% from 'reusable/buttons.html' import buttons_large %}
<div class="row justify-content-center">

<div class="card-pr">
    <div class="header-sub">
        <div style="background-color: rgb(39, 125, 161);">
            <div
                style="display: flex; align-items: center;margin-bottom: 10px;margin-top: 10px; background-color: rgb(39, 125, 161);">
                <img class="avatar-manager" src="https://sleepercdn.com/avatars/thumbs/{{avatar[0].avatar}}"
                    onError="this.onerror=null;this.src='static/logos/logo_sf_small.jpg';" />
                <span
                    style="margin-left:10px;font-size: 28px;background-color: rgb(39, 125, 161);color: white;">{{league_name}}</span>
            </div>
            <div style="display: inline-block;background-color: rgb(39, 125, 161);">
                <span style="font-size:18px;background-color: rgb(39, 125, 161);color: white;">User &bull; {{user_name}}
                    &bull; Source &bull; {{source}}</span>
            </div>
        </div>
    </div>
</div>


<form method="post" class="form-inline">
    <div class="btn-group flex-wrap" style="gap:5px;margin-left: 10px;">
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-lg dropdown-toggle" style="font-size: 14px;" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dynasty Ranks
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 14px;">
                <button class="dropdown-item" type="submit" name="get_league" value="{{session_id, user_id, league_id}}"
                    >KeepTradeCut</button>
                <button class="dropdown-item" type="submit" name="get_league_sf"
                    value="{{session_id, user_id, league_id}}">SuperFlex</button>
                <!-- <button class="dropdown-item" type="submit" name="get_league_fp"
                    value="{{session_id, user_id, league_id}}" {{fp_button}}>Fantasy Pros</button> -->
                <button class="dropdown-item" type="submit" name="get_league_dp"
                    value="{{session_id, user_id, league_id}}">Dynasty Process</button>
                <button class="dropdown-item" type="submit" name="get_league_fc"
                    value="{{session_id, user_id, league_id}}">FantasyCalc</button>

            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-lg dropdown-toggle" style="font-size: 14px;" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contender Ranks
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 12px;">
                <button class="dropdown-item" type="submit" name="contender_rankings"
                    value="{{session_id, user_id, league_id}}">-2023- ESPN Projections</button>
                <button class="dropdown-item" type="submit" name="nfl_contender_rankings"
                    value="{{session_id, user_id, league_id}}">-2022- NFL Projections</button>
                <button class="dropdown-item" type="submit" name="fp_contender_rankings"
                    value="{{session_id, user_id, league_id}}">-2022- Fantasy Pros
                    Projections</button>
                <button class="dropdown-item" type="submit" name="fc_contender_rankings"
                    value="{{session_id, user_id, league_id}}">FantasyCalc</button>
            </div>
        </div>
        <div class="dropdown">
            <form method="post" class="form-inline">
                <button class="btn btn-outline-primary btn-lg dropdown-toggle" style="font-size: 14px;" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trades
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 14px;">
                    <button class="dropdown-item" type="submit" name="trade_tracker"
                        value="{{session_id, user_id, league_id}}">KeepTradeCut</button>
                    <button class="dropdown-item" type="submit" name="trade_tracker_fc"
                        value="{{session_id, user_id, league_id}}" >FantasyCalc</button>
                    <button class="dropdown-item" type="submit" name="trade_tracker_sf"
                        value="{{session_id, user_id, league_id}}" >SuperFlex</button>
                </div>
        </div>
    </div>
</form>
</div>
<div class="row justify-content-center">
    <canvas id="myChart" width="400" height="350"></canvas>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');

        var qb_data = {{ qb_scatter | tojson }}
        var rb_data = {{ rb_scatter | tojson }}
        var wr_data = {{ wr_scatter | tojson }}
        var te_data = {{ te_scatter | tojson }}
        let data = {
            datasets: [{
                label: 'QBs',
                data: qb_data,
                backgroundColor: 'rgb(39, 125, 161, .7)',
                pointRadius: 8,
            }, {
                label: 'RBs',
                data: rb_data,
                backgroundColor: 'rgb(144, 190, 109, 0.7)',
                pointRadius: 8,
            }, {
                label: 'WRs',
                data: wr_data,
                backgroundColor: 'rgb(67, 170, 139, 0.7)',
                pointRadius: 8,
            },
            {
                label: 'TEs',
                data: te_data,
                backgroundColor: 'rgb(249, 132, 74, 0.7)',
                pointRadius: 8,
            }],

        }
        const myChart1 = new Chart(ctx, {
            type: 'bubble',
            data: data,

            options: {
                responsive: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Age Vs Value'
                    },
                    tooltip: {
                        callbacks: {
                            label: (context) => {
                                return `${context.raw.player_name} Age: ${context.raw.x} Value: ${context.raw.y}`;
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        min: 0,
                        max: 9999
                    },
                    x: {
                        min: 20,
                        max: 45
                    }
                }

            },

        });
    </script>

</div>
<div>
    <div class="row justify-content-center">
        <table class="table rounded" style="width:75%">
            <thead style="text-align:center">
                <tr>
                    <th>Manager</th>
                    <th>QBs</th>
                    <th>RBs</th>
                    <th>WRs</th>
                    <th>TEs</th>
                </tr>
            </thead>
            <tbody>
                {% for owner in owners %}
                <td style="text-align:center;">{{owner.display_name}}</td>
                <td style="text-align:center">{{owner.qb_count}}</td>
                <td style="text-align:center">{{owner.rb_count}}</td>
                <td style="text-align:center">{{owner.wr_count}}</td>
                <td style="text-align:center">{{owner.te_count}}</td>
                </tr>
            </tbody>
            {%endfor%}
        </table>

    </div>
</div>
<div>
    {% for pos, pos_players in position_players.items() if pos != 'picks' %}
    <div class="row justify-content-center">
        {% if pos == 'qb' %}
        <canvas id="bar-chart-qb" width="450" height="300"></canvas>
        <script>
            // Bar chart
            new Chart(document.getElementById("bar-chart-qb"), {
                type: 'bar',
                data: {
                    labels: {{ qb_graph['qb_names']| tojson }},
                datasets: [
                {
                    label: "Qbs",
                    backgroundColor: 'rgb(249, 65, 68, 0.7)',
                    data: {{ qb_graph['qb_values']| tojson }}
            }
            ]
            },
                options: {
                responsive: false,
                legend: { display: false },
                title: {
                    display: true,
                    text: ''
                }
            }
        });

        </script>
        {% endif %}
        {% if pos == 'rb' %}
        <canvas id="bar-chart-rb" width="450" height="300"></canvas>
        <script>
            // Bar chart
            new Chart(document.getElementById("bar-chart-rb"), {
                type: 'bar',
                data: {
                    labels: {{ rb_graph['rb_names']| tojson }},
                datasets: [
                {
                    label: "RBs",
                    backgroundColor: 'rgb(77, 144, 142, 0.7)',
                    data: {{ rb_graph['rb_values']| tojson }}
            }
            ]
            },
                options: {
                responsive: false,
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Predicted world population (millions) in 2050'
                }
            }
        });

        </script>
        {% endif %}
        {% if pos == 'wr' %}
        <canvas id="bar-chart-wr" width="450" height="300"></canvas>
        <script>
            // Bar chart
            new Chart(document.getElementById("bar-chart-wr"), {
                type: 'bar',
                data: {
                    labels: {{ wr_graph['wr_names']| tojson }},
                datasets: [
                {
                    label: "WRs",
                    backgroundColor: 'rgb(144, 190, 109, 0.7)',
                    data: {{ wr_graph['wr_values']| tojson }}
            }
            ]
            },
                options: {
                responsive: false,
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Predicted world population (millions) in 2050'
                }
            }
        });

        </script>
        {% endif %}
        {% if pos == 'te' %}
        <canvas id="bar-chart-te" width="450" height="300"></canvas>
        <script>
            // Bar chart
            new Chart(document.getElementById("bar-chart-te"), {
                type: 'bar',
                data: {
                    labels: {{ te_graph['te_names']| tojson }},
                datasets: [
                {
                    label: "TEs",
                    backgroundColor: 'rgb(248, 150, 30, 0.7)',
                    data: {{ te_graph['te_values']| tojson }}
            }
            ]
            },
                options: {
                responsive: false,
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Predicted world population (millions) in 2050'
                }
            }
        });

        </script>
        {% endif %}
        <div class="row justify-content-center" style="width:65em;">
            <table class="table rounded table-hover" style="width:95%;">
                <thead style="text-align:center">
                    <tr>
                        <th>Player</th>
                        <th>Value</th>
                        <th>Age</th>
                        <th>Rank</th>
                        <th>POS Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in pos_players %}
                    <td style="text-align:center">{{player.full_name}}</td>
                    <td style="text-align:center" class="over-limit-{{player.val_tile}}">{{player.player_value}}</td>
                    <td style="text-align:center" class="over-limit-{{player.age_tile | age_adjust }}">{{player.age}}
                    </td>
                    <td style="text-align:center;">{{player.rank}}</td>
                    <td style="text-align:center">{{player.positional_rank}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>



        {% endfor %}
    </div>
</div>
{%endblock%}