{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}
<h1 class="text-center">{% block title %}{{league_name}}{% endblock %}</h1>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="header">
                <h4 style="padding:10px" class="title">Trades Count</h4>
            </div>
            <ul class="list-group list-group-flush">
                {% for summary in summary_table %}
                <li class="list-group-item">{{summary.display_name}} - {{summary.trades_cnt}}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-auto">
            <table class="table rounded table-hover">
                <thead class="" style="text-align:center">
                    <tr>
                        <th scope="col">Manager</th>
                        <th>Value Added</th>
                        <th>Value Droped</th>
                        <th>Total Value</th>
                        <th>Average Per Trade</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    {% for summary in summary_table %}

                    <tr>
                        <td scope="row" style="text-align:center">{{summary.display_name}}</td>
                        <td style="text-align:center">{{"{:,}".format(summary.total_add)}}</td>
                        <td style="text-align:center">{{"{:,}".format(summary.total_drop)}}</td>
                        <td style="text-align:center">{{"{:,}".format(summary.total_diff)}}</td>
                        <td style="text-align:center">{{"{:,}".format(summary.avg_per_trade)}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="card border-0" style="width: 18em;">
            <div class="card-body border-0">
                <div class="list-group">
                    <form method="post" class="form-inline">
                        <div class="btn-group">
                            <button class="btn btn-outline-primary btn-lg" type="submit" name="power_rankings" value="{{session_id, user_id, league_id}}">Power
                                Rankings</button>
                            <br>
                            <button class="btn btn-outline-secondary btn-lg" disabled>Trade Tracker</button>
                            <button class="btn btn-outline-primary btn-lg" type="submit" name="contender_rankings" value="{{session_id, user_id, league_id}}">Contender
                                Rankings</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p style="text-align: right">KTC Player Values Updated: {{date_}}</p>

<div class="row">
    <div class="header text-center">
        <h4 style="padding:10px" class="title">Trade History</h4>
    </div>
    {% for transaction_id in transaction_ids %}

    <div class="card border-0">
        <div class="row justify-content-center">
            <h4 class="text-center">{{transaction_id[1] | timestamp_convert }}
            </h4>
            {% for k,v in trades_dict.items() if k == transaction_id[0] %} {% for o,items in v.items() %}
            <div class="card-fr" style="width: 24rem; margin-right: 10px;margin-left: 10px;">
                <h5 class="text-left">{{o}}</h5>
                {% for asset in items if asset.transaction_id == transaction_id[0] %} {% if loop.index == 1 %} {% set total = asset.owner_total %}
                <h4 class="text-right">{{total}}</h4>

                {% endif %}
                <ul class="list-group">
                    <li class="list-group-item d-flex align-items-center border-0">
                        <object class="avatar-player" data="{{asset.sleeper_id | sleeper_img}}" type="image/png">
                            <img class="avatar-player"
                                src="https://sleepercdn.com/images/v2/icons/player_default.webp" />
                        </object> {{ asset.asset }} &nbsp<b>{{"{:,}".format(asset.value)}}</b>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% endfor %}
        </div>
    </div>

    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}