{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}
{% from 'reusable/buttons.html' import buttons_large %}
{% from 'reusable/header_page.html' import league_header %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#trade_tracker').DataTable({ order: [[1, 'asc']], searching: false, paging: false, info: false });
    });
</script>
{{league_header(league_name, user_name, refresh_time, cur_league.league_year,cur_league.league_cat | league_cat,
cur_league.total_rosters, cur_league.starter_cnt,cur_league.qb_cnt, cur_league.sf_cnt, session_id, user_id, league_id,
avatar, source='SuperFlex')}}
<div class="container">
    {{buttons_large(session_id, user_id, league_id,sf_tt_button='disabled')}}

    <div class="table-responsive">
        <table class="table table-striped table-hover" style="width:75%;font-size: 14px;" id="trade_tracker">
            <thead class="" style="text-align:center">
                <tr>
                    <th scope="col" data-sortable="false"></th>
                    <th>Total Trades</th>
                    <th>Value Added</th>
                    <th>Value Dropped</th>
                    <th>Total Value</th>
                    <th>Average Per Trade</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                {% for summary in summary_table %}

                <tr>
                    <td class="tv" style="text-align:center;">{{summary.display_name}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.add_tile}}">
                        {{"{:,}".format(summary.trades_cnt)}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.add_tile}}">
                        {{"{:,}".format(summary.total_add)}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.drop_tile}}">
                        {{"{:,}".format(summary.total_drop)}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.diff_tile}}">
                        {{"{:,}".format(summary.total_diff)}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.avg_tile}}">
                        {{"{:,}".format(summary.avg_per_trade)}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<p style="float:middle;">Source: SuperFlex</p>
<p style="text-align: right">SuperFlex {{update_diff_minutes}} minutes ago.</p>

<div class="row">
    <div class="header text-center">
        <h2 style="padding:10px" class="title">Trade History</h2>
    </div>
    {% for transaction_id in transaction_ids %}

    <div class="card border-0" style="background-color: transparent;">
        <div class="row justify-content-center">
            <h3 class="text-center">{{transaction_id[1] | timestamp_convert }}
            </h3>
            {% for k,v in trades_dict.items() if k == transaction_id[0] %} {% for display_name,items in v.items() %}
            <div class="card-fr" style="width: 24rem; margin-right: 10px;margin-left: 10px;"
                id="trade-id-{{display_name}}">
                <div class="d-flex justify-content-between">
                    <span style="font-size: 18px;" class="text-left">{{display_name}}</span>
                    {% for asset in items if asset.transaction_id == transaction_id[0] %}
                    {% if loop.index == 1 %}
                    {% set total = asset.owner_total %}
                    {% set deal_outcome = asset.deal_total - asset.owner_total %}
                    {%if total >= deal_outcome %}
                    <div class="d-flex align-items-center">
                        <span class="b-transparent"
                            style="font-size:10px;margin-right: 5px;color:rgb(144, 190, 109)">+{{"{:,}".format(total
                            -
                            deal_outcome)}}</span>
                        <span class="trade-badge">{{"{:,}".format(total)}}</span>
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center">
                        <span class="b-transparent"
                            style="font-size:10px;margin-right: 5px;color:rgb(249, 65, 68)">{{"{:,}".format(total
                            -
                            deal_outcome)}}</span>
                        <span class="trade-badge">{{"{:,}".format(total)}}</span>
                    </div>
                    {%endif%}
                </div>
                {% endif %}

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between border-0"
                        style="background-color: transparent;font-size: 14px;">
                        <div class="d-flex align-items-center">


                            {%if asset._position == 'QB' %}
                            <img class="avatar-traded-asset-qb" style="margin-right:5px"
                                src="https://sleepercdn.com/content/nfl/players/thumb/{{asset.sleeper_id}}.jpg"
                                onError="this.onerror=null;this.src='static/player_default.webp';" />
                            <i class="fa fa-plus position-absolute" style="bottom: 3px; left: 12px;color:#3CB371"></i>
                            {{ asset.asset }} &bull; <span class="b-transparent"
                                style="color:rgb(39, 125, 161); margin-left: 2px;">{{asset._position}}</span>
                            {% elif asset._position == 'RB' %}
                            <img class="avatar-traded-asset-rb" style="margin-right:5px"
                                src="https://sleepercdn.com/content/nfl/players/thumb/{{asset.sleeper_id}}.jpg"
                                onError="this.onerror=null;this.src='static/player_default.webp';" />
                            <i class="fa fa-plus position-absolute" style="bottom: 3px; left: 12px;color:#3CB371"></i>
                            {{ asset.asset }} &bull; <span class="b-transparent"
                                style="color:rgb(144, 190, 109); margin-left: 2px;">{{asset._position}}</span>
                            {% elif asset._position == 'WR' %}
                            <img class="avatar-traded-asset-wr" style="margin-right:5px"
                                src="https://sleepercdn.com/content/nfl/players/thumb/{{asset.sleeper_id}}.jpg"
                                onError="this.onerror=null;this.src='static/player_default.webp';" />
                            <i class="fa fa-plus position-absolute" style="bottom: 3px; left: 12px;color:#3CB371"></i>
                            {{ asset.asset }} &bull; <span class="b-transparent"
                                style="color:rgb(67, 170, 139); margin-left: 2px;">{{asset._position}}</span>
                            {% elif asset._position == 'TE' %}
                            <img class="avatar-traded-asset-te" style="margin-right:5px"
                                src="https://sleepercdn.com/content/nfl/players/thumb/{{asset.sleeper_id}}.jpg"
                                onError="this.onerror=null;this.src='static/player_default.webp';" />
                            <i class="fa fa-plus position-absolute" style="bottom: 3px; left: 12px;color:#3CB371"></i>
                            {{ asset.asset }} &bull; <span class="b-transparent" class="b-transparent"
                                style="color:rgb(249, 132, 74); margin-left: 2px;">{{asset._position}}</span>
                            {%else%}
                            {{ asset.asset }}
                            {%endif%}
                        </div>
                        <span class="b-transparent" class="text-lg-right">{{"{:,}".format(asset.value) |
                            zero_val}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}