{% extends 'base.html' %} {% block header %} {% endblock %} {%block content%}
{% from 'reusable/buttons.html' import buttons_large %}
{% from 'reusable/header_page.html' import league_header %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#trade_tracker_fc').DataTable({ order: [[1, 'asc']], searching: false, paging: false, info: false });
    });
</script>
{{league_header(league_name, avatar)}}
<div style="display: inline-block;">
    <h3>User &bull; {{user_name}} &bull; Source &bull; <small class="text-muted"
            style="margin-left: 1px;">FantasyCalc</small>
    </h3>
    <h7 style="margin-right: 10px;right: 0;">League refreshed {{ refresh_time }} ago</h7>
</div>
<div style="display: flex; gap:8px; margin-top: 5px;">
    <form method="post" class="form-inline">
        <button class="btn btn-outline-secondary float-right btn-sm" type="submit" name="trade_tracker_fc"
            value="{{session_id, user_id, league_id, True}}"><i class="fa fa-refresh" aria-hidden="true"></i>
            | refresh league</button>
    </form>
</div>
<br>
<h5>
    <span class="badge bg-dark-1">{{cur_league.league_year}}</span>
    {% if cur_league.league_cat == 0 %}
    <span class="badge alert-dark">{{cur_league.league_cat | league_cat}}</span>
    {% endif %}
    {% if cur_league.league_cat == 1 %}
    <span class="badge alert-light">{{cur_league.league_cat | league_cat}}</span>
    {% endif %}
    {% if cur_league.league_cat == 2 %}
    <span class="badge alert-success">{{cur_league.league_cat | league_cat}}</span>
    {% endif %}
    {% if cur_league.total_rosters < 12 %} <span class="badge alert-success">{{cur_league.total_rosters}}
        Team
        </span>
        {% endif %}
        {% if cur_league.total_rosters == 12 %}
        <span class="badge alert-danger">{{cur_league.total_rosters}} Team</span>
        {% endif %}
        {% if cur_league.total_rosters > 12 %}
        <span class="badge alert-light">{{cur_league.total_rosters}} Team</span>
        {% endif %}
        {% if cur_league.qb_cnt + cur_league.sf_cnt > 1 %}
        <span class="badge alert-secondary">Superflex</span>
        {% else %}
        <span class="badge alert-primary">Single QB</span>
        {% endif %}

        <span class="badge bg-warning">{{cur_league.starter_cnt}} Starters</span>

</h5>
<br>
<div class="container">
    {{buttons_large(session_id, user_id, league_id,fc_tt_button='disabled')}}

    <div class="table-responsive">
        <table class="table rounded table-hover" style="width:75%;font-size: 14px;" id="trade_tracker_fc">
            <thead class="" style="text-align:center">
                <tr>
                    <th scope="col" data-sortable="false"></th>
                    <th>Total Trades</th>
                    <th>Value Added</th>
                    <th>Value Dropped</th>
                    <th>Total Value</th>
                    <th>Average Per Trade</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                {% for summary in summary_table %}

                <tr>
                    <td class="tv" style="text-align:center;">{{summary.display_name}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.add_tile}}">
                        {{"{:,}".format(summary.trades_cnt)}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.add_tile}}">
                        {{"{:,}".format(summary.total_add)}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.drop_tile}}">
                        {{"{:,}".format(summary.total_drop)}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.diff_tile}}">
                        {{"{:,}".format(summary.total_diff)}}</td>
                    <td style="text-align:center" class="over-limit-{{summary.avg_tile}}">
                        {{"{:,}".format(summary.avg_per_trade)}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<p style="float:middle;">Source: FantasyCalc</p>
<p style="text-align: right">FantasyCalc {{update_diff_minutes}} minutes ago.</p>

<div class="row">
    <div class="header text-center">
        <h4 style="padding:10px" class="title">Trade History</h4>
    </div>
    {% for transaction_id in transaction_ids %}

    <div class="card border-0" style="background-color: transparent;">
        <div class="row justify-content-center">
            <h4 class="text-center">{{transaction_id[1] | timestamp_convert }}
            </h4>
            {% for k,v in trades_dict.items() if k == transaction_id[0] %} {% for display_name,items in v.items() %}
            <div class="card-fr" style="width: 24rem; margin-right: 10px;margin-left: 10px;"
                id="trade-id-{{display_name}}">
                <div class="d-flex justify-content-between" style="font-size: 18px;">
                    <span class="text-left">{{display_name}}</span>
                    {% for asset in items if asset.transaction_id == transaction_id[0] %}
                    {% if loop.index == 1 %}
                    {% set total = asset.owner_total %}
                    {% set deal_outcome = asset.deal_total - asset.owner_total %}
                    {%if total >= deal_outcome %}
                    <div class="d-flex align-items-center">
                        <span style="font-size:10px;margin-right: 5px;color:rgb(144, 190, 109)">+{{"{:,}".format(total
                            -
                            deal_outcome)}}</span>
                        <span class="trade-badge">{{"{:,}".format(total)}}</span>
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center">
                        <span style="font-size:10px;margin-right: 5px;color:rgb(249, 65, 68)">{{"{:,}".format(total
                            -
                            deal_outcome)}}</span>
                        <span class="trade-badge">{{"{:,}".format(total)}}</span>
                    </div>
                    {%endif%}
                </div>
                {% endif %}

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between border-0"
                        style="background-color: transparent;font-size: 14px;">
                        <div class="d-flex align-items-center">
                            <img class="avatar-traded-asset" style="margin-right:5px"
                                src="https://sleepercdn.com/content/nfl/players/thumb/{{asset.sleeper_id}}.jpg"
                                onError="this.onerror=null;this.src='static/player_default.webp';" />
                            <i class="fa fa-plus position-absolute" style="bottom: 3px; left: 12px;color:#3CB371"></i>
                            {{ asset.asset }}
                            {%if asset._position == 'QB' %}
                            &bull; <span style="color:rgb(39, 125, 161); margin-left: 2px;">{{asset._position}}</span>
                            {% elif asset._position == 'RB' %}
                            &bull; <span style="color:rgb(144, 190, 109); margin-left: 2px;">{{asset._position}}</span>
                            {% elif asset._position == 'WR' %}
                            &bull; <span style="color:rgb(67, 170, 139); margin-left: 2px;">{{asset._position}}</span>
                            {% elif asset._position == 'TE' %}
                            &bull; <span style="color:rgb(249, 132, 74); margin-left: 2px;">{{asset._position}}</span>
                            {%endif%}
                        </div>
                        <span class="text-lg-right">{{"{:,}".format(asset.value)}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% endfor %}
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}